VITE_SUPABASE_URL=https://nvfsicrknphlllljbtiv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_nwicUi864Z5-RkwaKI1gbg_g0Flx-56
VITE_CLOUDINARY_CLOUD_NAME=f5mafkpl
VITE_CLOUDINARY_UPLOAD_PRESET=aura_portfolio
